# Project specific
*.json

# Direnv
.envrc

# Python
*.pyc
.Python
__pycache__
.pytest_cache
venv/
.venv/

# VS Code
/.vscode/
/.vs/

# MacOS
**/.DS_Store

# Test coverage
.coverage

# Ruff
.ruff_cache/

# Environment variables
.env
.envrc
